{% extends 'layout.html' %}
{% block head %}
<title>Cmentarz - panel użytkownika</title>
{% endblock %}
{% block body %}

<h3>Podaj informacje dotyczące pochowanej osoby: </h3>

Wybrana parcela: {{ p_id }}

<form method="post" action="{{url_for('pages.user_page')}}">
    Imię:
    <input type="text" name="name">
    Nazwisko:
    <input type="text" name="last_name">
    Data urodzenia:
    <input type="date" name="day_of_birth">
    Data śmierci:
    <input type="date" name="day_of_death">
    <button type="submit">Submit</button>
</form>


{% endblock %}