{% extends 'layout.html' %}
{% block head %}
<title>Cmentarz - panel użytkownika</title>
{% endblock %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
<style>
.error {
color: #990000;
}
</style>

<h3>Podaj informacje dotyczące grobu: </h3>
<p>Wybrana parcela: {{ parcel.id }}</p>

<p>Cena: {{ parcel_type.price }}</p>


<form method="post">
    <div>{{ render_field(form.name, class="input_field") }}</div>
    <div>{{ render_field(form.surname, class="input_field") }}</div>
    <div>{{ render_field(form.birth_date, class="input_field") }}</div>
    <div>{{ render_field(form.death_date, class="input_field") }}</div>
    <button type="submit">Rezerwuj</button>
</form>

{% if error %}
<p class=error>{{ error }} </p>
{% endif %}
<br>

{% endblock %}
