{% extends 'layout.html' %}
{% block head %}
<title>Panel Administratora</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/admin.css') }}"/>
{% endblock %}
{% block body %}
{% include 'flash_msg.html' %}
{% from "_formhelpers.html" import render_field %}
<!-- nowy komunikat na stronę główną -->
<div id="new_post" class="admin_option_button"><span>Dodaj nowy komunikat na stronę główną</span></div>
<div id="new_post_box" class="admin_option_box">
    <form method="POST">
        <input class="text_input post_header" name="post_header" placeholder="Nagłówek" type="text" required>
        <textarea class="text_input" name="post_content" placeholder="Treść wiadomości" required></textarea>
        <input class="send_data" type="submit" value="Utwórz">
    </form>
</div>
<!-- nowy e-mail do wszystkich użytkowników -->
<div id="new_email" class="admin_option_button">
    <span>Wysyłanie wiadomości e-mail do wszystkich użytkowników</span></div>
    <div id="new_email_box" class="admin_option_box">
        <form method="POST">
            <input class="text_input post_header" name="email_title" type="text" placeholder="Tytuł wiadomości e-mail">
            <textarea class="text_input" name="email_content" placeholder="Treść wiadomości"></textarea>
            <input class="send_data" type="submit" value="Wyślij">
        </form>
    </div>
<!-- nowy nekrolog -->
<div id="new_obituary" class="admin_option_button"><span>Dodaj nowy nekrolog</span></div>
<div id="new_obituary_box" class="admin_option_box">
    <form method="POST">
        {{ render_field(form_obituary.name, class="text_input post_header") }}
        {{ render_field(form_obituary.surname, class="text_input post_header") }}
        {{ render_field(form_obituary.years_old, class="text_input post_header") }}
        {{ render_field(form_obituary.death_date, class="text_input post_header") }}
        <div class="check_option">Data i godzina pogrzebu:</div>
        <input class="text_input post_header" name="funeral_date" type="date" required>
        <input class="text_input post_header" name="funeral_time" type="time" required>
        {% for subfield in form_obituary.gender %}
        <div class="check_option">
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
        </div>
        {% endfor %}
        <input class="send_data" type="submit" value="Wyślij">
    </form>
</div>
<!-- inna opcja -->
<div id="" class="admin_option_button"><span></span></div>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/admin.js') }} "></script>
{% endblock %}
