{% extends 'layout.html' %}
{% block head %}
<title>Panel Administratora</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/admin.css') }}"/>
{% endblock %}
{% block body %}
{% include 'flash_msg.html' %}
<div id="new_post" class="admin_option_button"><span>Dodaj nowy komunikat na stronę główną</span></div>
<div id="new_post_box" class="admin_option_box">
    <form method="POST">
        <input class="text_input post_header" name="post_header" placeholder="Nagłówek" type="text">
        <textarea class="text_input" name="post_content" placeholder="Tekst wiadomości"></textarea>
        <input class="check_option" type="checkbox"> Wyślij też powiadomienie drogą mailową
        <input class="send_data" type="submit" value="Utwórz">
    </form>
</div>
<!-- poniższe jeszcze nie działają, nalezy zmienić nazwy (name) -->
<div id="new_email" class="admin_option_button">
    <span>Wysyłanie wiadomości e-mail do wszystkich użytkowników</span></div>
    <div id="new_email_box" class="admin_option_box">
        <form method="POST">
            <input class="text_input post_header" name="post_header" type="text">
            <textarea class="text_input" name="post_content"></textarea>
            <input class="send_data" type="submit" value="Wyślij">
        </form>
    </div>

<div id="new_necrology" class="admin_option_button"><span>Dodaj nowy nekrolog</span></div>
<div id="new_necrology_box" class="admin_option_box">
    <form method="POST">
        <input class="text_input post_header" name="post_header" type="text">
        <textarea class="text_input" name="post_content"></textarea>
        <input class="send_data" type="submit" value="Wyślij">
    </form>
</div>
<div id="" class="admin_option_button"><span>???</span></div>
{% endblock %}
