{% extends 'layout.html' %}
{% block head %}
<title>Cmentarz - panel użytkownika</title>
{% endblock %}
{% block body %}

<h3>Podaj nowe dane grobu:</h3>
<form method="post" action="/edit/{{ grave_id }}">
    <input type="text" name="edited_name" placeholder="Imię">
    <input type="text" name="edited_last_name" placeholder="Nazwisko">
    Data urodzenia: <input type="text" name="edited_birth">
    Data śmierci: <input type="text" name="edited_death">
    <button type="submit">Submit</button>

{% endblock %}