{% extends 'layout.html' %}
{% block head %}
<title>Cmentarz - panel użytkownika</title>
{% endblock %}
{% block body %}
{% include 'flash_msg.html' %}

<h3>Wyszukaj grób</h3>

<form method="get" action="/graves">
    Imię: <input type="search" name="search_name">
    Nazwisko: <input type="search" name="search_last_name">
    <button type="submit">Filtruj</button>

</form>
<br>
<table class="graves_table">

    <tr>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>Data urodzenia</th>
    <th>Data śmierci</th>
    <th>Numer parceli</th>
        {% if current_user.is_authenticated %}
    <th>Znany grób</th>
    {% endif %}
    </tr>


    {% for grave in graves_list %}

        <tr>

            <td>{{ grave.name }}</td>
            <td>{{ grave.last_name}}</td>
            <td>{{ grave.day_of_birth}}</td>
            <td>{{ grave.day_of_death}}</td>
            <td>{{ grave.parcel_id}}</td>
            {% if current_user.is_authenticated %}
            {% if grave.my_family %}
            <td><a href="/user/delete-favourite/{{grave.id}}?back_url=/graves">Usuń</a></td>
            {% else %}
            <td><a href="/graves/{{grave.id}}/add-favourite">Dodaj</a></td>
            {% endif %}
            {% endif %}
        </tr>
    {% endfor %}
</table>


{% endblock %}