{% extends 'layout.html' %}
{% block head %}
<title>Cmentarz - panel użytkownika</title>
{% endblock %}
{% block body %}

<h4>Dane grobu:</h4>

Imię: {{ grave.name }}
<br>Nazwisko: {{ grave.last_name }}
<br>Parcela: {{ grave.parcel_id }}
<br>Data urodzenia: {{ grave.day_of_birth }}
<br>Data śmierci: {{ grave.day_of_death }}
<br>Typ parceli: {{ parcel_type.description }}
<br>Cena: {{ parcel_type.price }}
<br>Opłacony do:

<br>
<h4>Edycja danych</h4>

<form method="post" action="{{url_for('pages.grave', grave_id=grave.id)}}">
    <input type="text" name="edited_name" value="{{ grave.name }}">
    <input type="text" name="edited_last_name" value="{{ grave.last_name }}">
    Data urodzenia: <input type="date" name="edited_birth" value="{{ grave.day_of_birth }}">
    Data śmierci: <input type="date" name="edited_death" value="{{ grave.day_of_death }}">
    <button type="submit">Submit</button>
</form>

<br>

<form method="post" action="{{url_for('pages.delete_grave', grave_id=grave.id)}}">
    <button type="submit">Usuń grób</button>
</form>


{% endblock %}
