{% extends 'layout.html' %}
{% block head %}
<title>Cmentarz - panel użytkownika</title>
{% endblock %}
{% block body %}
{% include 'flash_msg.html' %}

<h3>Lista grobów</h3>

<h4>Filtruj</h4>

<form method="get" action="/graves">
    Imię <input type="search" name="search_name">
    Nazwisko <input type="search" name="search_last_name">
    <button type="submit">Filtruj</button>

</form>

<table>

    <tr>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>Data urodzenia</th>
    <th>Data śmierci</th>
        <th>Numer parceli</th>
        <th>Znany grób</th>

    </tr>


    {% for grave in graves_list %}

        <tr>

            <td>{{ grave.name }}</td>
            <td>{{ grave.last_name}}</td>
            <td>{{ grave.day_of_birth}}</td>
            <td>{{ grave.day_of_death}}</td>
            <td>{{ grave.parcel_id}}</td>
            <td><a href="/graves/{{grave.id}}/add-favourite">Dodaj</a></td>
        </tr>
    {% endfor %}
</table>


{% endblock %}