{% extends 'layout.html' %}
{% block head %}
<title>Cmentarz - strona główna</title>
{% endblock %}
{% block body %}
{% include 'flash_msg.html' %}
<div class="info_on_main_page">
    <p>
        <h2> Witamy na stronie cmentarza XYZ!</h2>
    </p>
    <p>
        W naszym serwisie znajdą Państwo wszystkie informacje dotyczące naszego cmentarza.
        W celu wykorzystania wszystkich możliwości naszej strony proponujemy bardzo prostą
        rejestrację.
    </p>
    <p>
        W razie pytań lub jakichkolwiek wątpliwości prosimy o kontakt.
    </p>
</div>
<div class="info_on_main_page_news">
        <h2>Aktualności:</h2>
</div>
{% if infos %}
    {% for info in infos %}
<div class="info_on_main_page">
    {% if current_user.admin %}
    <a href="{{url_for('pages_admin.message_delete', message_id=info.id)}}">
        <img class="delete_icon" src="{{ url_for('static', filename='pictures/delete_icon.png') }}" alt="usuwanie">
    </a>
    <a href="{{url_for('pages_admin.message_edit', message_id=info.id)}}">
        <img class="edit_icon" src="{{ url_for('static', filename='pictures/edit-icon.png') }}" alt="edycja">
    </a>
    {% endif %}
    <h3> {{ info.title }}</h3>
    <p class="admin_msg">{{ info.content }}</p>
    <div class="small_txt_info">Data utworzenia: {{info.create_date.strftime('%Y-%m-%d %H:%M:%S')}}</div>
</div>
    {% endfor %}
{% endif %}
<div id="test"></div>
{% endblock %}
