{% extends 'layout.html' %}

{% block head %}
<title>Cmentarz - logowanie</title>
{% endblock %}
{% block body %}
    {% with message = get_flashed_messages(category_filter = ['error'])[0] %}
        {% if message %}
            <script type="text/javascript">start_counting("flash_temp_error");</script>
            <div id="flash_temp_error">
                {{ message }}
            </div>
        {% endif %}
    {% endwith %}
    {% with message = get_flashed_messages(category_filter = ['succes'])[0] %}
        {% if message %}
            <script type="text/javascript">start_counting("flash_temp_message");</script>
            <div id="flash_temp_message">
                {{ message }}
            </div>
        {% endif %}
    {% endwith %}
    {% from "_formhelpers.html" import render_field %}
    <div id="login_box">
        <form method="post">
            <div class="input_category">Aby zalogować, podaj adres e-mail i hasło:</div>
            <div>{{ render_field(form_login.email, class="input_field") }}</div>
            <div>{{ render_field(form_login.password, class="input_field") }}</div>
            <input class ="log_reg_button" type=submit value="Zaloguj">
            <a class="small_redirect_text" href="{{url_for('pages.register')}}">Nie masz konta? Zarejestruj się!</a>
        </form>
    </div>
{% endblock %}
