{% extends 'layout.html' %}

{% block head %}
<title>Cmentarz - logowanie</title>
{% endblock %}
{% block body %}
{% include 'flash_msg.html' %}
    {% from "_formhelpers.html" import render_field %}
    <div id="login_box">
        <form method="post">
            <div class="input_category">Aby zalogować, podaj adres e-mail i hasło:</div>
            <div>{{ render_field(form_login.email_login, class="input_field") }}</div>
            <div>{{ render_field(form_login.password, class="input_field") }}</div>
            <br>
            <input class ="log_reg_button" type=submit value="Zaloguj">
            <a class="small_redirect_text" href="{{url_for('pages_log_sys.register')}}">Nie masz konta? Zarejestruj się!</a>
        </form>
        <a class="small_redirect_text" href="{{url_for('pages_log_sys.password_recovery')}}">Nie pamiętam hasła!</a>
    </div>
{% endblock %}
