<div id="navbar">
    <div class="nav_button_left">
        <a class="nav_left" href="{{url_for('pages.index')}}">Strona Główna</a>
    </div>
    <div class="nav_button_left">
        <a class="nav_left" href="#">Jakiś guzik</a>
    </div>
    <div class="nav_button_left">
        <a class="nav_left" href="#">Kolejny guzik :)</a>
    </div>
    {% if current_user.is_authenticated %}
    <div class="nav_button_right">
        <a class="nav_right" href="{{url_for('pages.logout')}}">Wyloguj</a>
    </div>
    <div class="nav_button_right" style="min-width: 100px">
        <a class="nav_log_in_as" href="{{ url_for('pages.user_page') }}">
            Zalogowany jako:<br>
            {% if current_user.name and current_user.last_name %}
                {{ current_user.name }} {{ current_user.last_name }}
            {% else %}
                {{ current_user.email }}
            {% endif %}
        </a>
    </div>
    {% else %}
    <div class="nav_button_right">
        <a class="nav_right" href="{{url_for('pages.register')}}">Rejestruj</a>
    </div>
    <div class="nav_button_right">
        <a class="nav_right" href="{{url_for('pages.login')}}">Zaloguj</a>
    </div>
    {% endif %}
    <div style="clear: both"></div>
    {% if current_user.admin %}
        <a href="{{ url_for('pages.admin') }}">panel administratora</a>
    {% endif %}
</div>
