{% extends 'layout.html' %}
{% block head %}
<title>Panel Administratora</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/admin.css') }}"/>
{% endblock %}
{% block body %}
{% include 'flash_msg.html' %}
{% for obit in obits %}
<div style="border: 1px solid black;">
    <p>Ś.P. {{obit.name}} {{obit.surname}}</p>
    <p>{% if obit.gender %}Zmarł{% else %}Zmarła{% endif %} w wieku {{obit.years_old}}</p>
    <p>dnia {{obit.death_date.strftime('%Y-%m-%d')}}</p>
    <p>Pogrzeb odbędzie się dnia {{obit.funeral_date.strftime('%Y-%m-%d')}} o godzinie {{obit.funeral_date.strftime('%H:%M')}}</p>
</div>
{% endfor %}
{% endblock %}
