<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Strona prywatna cmentarza xyz" />
    <meta name="keywords" content="śmierć, zgon, trumna, cmentarz, pogrzeb, grób, groby" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta http-equiv="Refresh" content="5;url={{url_for('pages.index')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}"/>
</head>
<body>
<div id="box">
    <img src="{{ url_for('static', filename='pictures/tomb.png') }}">
    <div>Nie znaleziono podanego adresu, za chwile zostaniesz przekierowany na stronę główną.</div>
</div>
</body>
