{% extends 'layout.html' %}
{% block head %}
<title>Cmentarz - panel użytkownika</title>
{% endblock %}
{% block body %}
{% include 'flash_msg.html' %}
<a href="{{ url_for('pages.user_set_pw') }}">zmiana hasła</a>
<br>
<a href="{{ url_for('pages.user_set_data') }}">zmiana danych personalnych</a>

<h3><a href="{{ url_for('pages.user_page') }}">Moje groby</a> </h3>

{% if graves %}
{% for grave in graves %}
<ol>
    <ul> {{ grave.name }} {{ grave.last_name }} </ul>
        <form method="get" action="/edit/{{ grave.id }}">
                <button type="submit">Zmień dane</button>
        </form>
        <form method="post" action="/delete/ {{ grave.id }}">
            <button type="submit">Usuń</button>
        </form>
</ol>

{% endfor %}
{% endif %}
<h3><a href="{{ url_for('pages.add_grave') }}">Rezerwuj nowy grób</a> </h3>

{% endblock %}
