{% extends 'layout.html' %}
{% block head %}
<title>Cmentarz - panel użytkownika</title>
{% endblock %}
{% block body %}
{% include 'flash_msg.html' %}
<a href="{{ url_for('pages.user_set_pw') }}">zmiana hasła</a>
<br>
<a href="{{ url_for('pages.user_set_data') }}">zmiana danych personalnych</a>

<h3><a href="{{ url_for('pages.user_page') }}">Moje groby</a> </h3>

{% if graves %}
{% for grave in graves %}
<ol>
    <ul> {{ grave.name }} {{ grave.last_name }} </ul>
        <form method="get" action="/edit/{{ grave.id }}">
                <button type="submit">Zmień dane</button>
        </form>
        <form method="post" action="/delete/ {{ grave.id }}">
            <button type="submit">Usuń</button>
        </form>
</ol>

{% endfor %}
{% endif %}
<h3>Wybierz grób do rezerwacji </h3>

<table width="600" bgcolor="white" border="1px">

     <thead>
      <tr>
        <th></th>
          {% for i in range(1, max_p+1) %}
          <th class="col" width="20" height="20"> {{ i }}</th>
          {% endfor %}
      </tr>
    </thead>

    <tbody>
    {% for j in range(1, max_p+1) %}
      <tr>
        <th class="row" width="20" height="20"> {{ j }} </th>
          {% for z in range(1, max_p+1) %}
            {% for parcel in parcels %}
                {% if parcel.position_x == j %}
                    {% if parcel.position_y == z %}
                        <th> <a href="{{url_for('pages.add_grave', ide=parcel.id)}}">  {{ parcel.id }}  </a> </th>
                    {% endif %}
                {% endif %}
            {% endfor %}
          {% endfor %}
      </tr>
    {% endfor %}
    <tbody>


  </table>

{% endblock %}
