{% extends 'layout.html' %}
{% block head %}
<title>Cmentarz - panel użytkownika</title>
{% endblock %}
{% block body %}
{% include 'flash_msg.html' %}
<a href="{{ url_for('pages.user_set_pw') }}">zmiana hasła</a>
<br>
<a href="{{ url_for('pages.user_set_data') }}">zmiana danych personalnych</a>

<h3><a href="{{ url_for('pages.user_page') }}">Moje groby</a> </h3>

{% if graves %}
{% for grave in graves %}
<ol>
    <ul> {{ grave.name }} {{ grave.last_name }} </ul>
        <form method="get" action="/edit/{{ grave.id }}">
                <button type="submit">Zmień dane</button>
        </form>
        <form method="post" action="/delete/ {{ grave.id }}">
            <button type="submit">Usuń</button>
        </form>
</ol>

{% endfor %}
{% endif %}
<h3><a href="{{ url_for('pages.add_grave') }}">Rezerwuj nowy grób</a> </h3>


<h3>Mapa cmentarza</h3>

<table width="600" border="1px">

    <thead>
      <tr>
        <th></th>
          {% for i in range(0, max_p) %}
          <th class="col" width="20" height="20"> {{ i }}</th>
          {% endfor %}
      </tr>
    </thead>

    <tbody>
    {% for j in range(0, max_p) %}
      <tr>
        <th class="row" width="20" height="20"> {{ j }} </th>
          {% for z in range(0, max_p) %}
          <th>  </th>
          {% endfor %}
      </tr>
    {% endfor %}
    <tbody>

  </table>

{% endblock %}
