body {
    background-color: #9a9a9a;
    margin: 0px;
    padding: 0px;
}

#box {
    background-color: #898989;
    width: 1000px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.info_on_main_page {
    width: 95%;
    min-height: 50px;
    margin-left: 2.5%;
    margin-top: 15px;
    border: 3px solid #666666;
    text-align: center;
}

.candle {
    width: 35px;
    height: 35px;
}

.info_on_main_page > p.admin_msg {
    white-space: pre-wrap;
}

.small_txt_info {
    font-size: 11px;
    text-align: left;
    padding: 0px 0px 4px 4px;
}
