body {
    background-color: #9a9a9a;
    margin: 0px;
    padding: 0px;
}

#box {
    background-color: #898989;
    width: 1000px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid #111111;
    border-right: 1px solid #111111;
}

/* messages on index page with comment section */
.info_on_main_page {
    width: 95%;
    min-height: 50px;
    margin-left: 2.5%;
    margin-top: 15px;
    border: 3px solid #666666;
    text-align: center;
    clear: both;
}

.candle {
    width: 35px;
    height: 35px;
}

.info_on_main_page > p.admin_msg {
    white-space: pre-wrap;
}

.small_txt_info {
    font-size: 11px;
    text-align: left;
    padding: 4px;
    width: 230px;
}

.comments_section_button {
    padding: 2px 4px 2px 2px;
    float: right;
    cursor: pointer;
}

.comments_section_box {
    display: none;
    width: 95%;
    min-height: 50px;
}

.edit_icon {
    display: block;
    float: left;
    width: 30px;
    height: 30px;
}

.delete_icon {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
}

/* obituaries style */
.outside_border {
    width: 700px;
    height: 400px;
    border: 1px solid black;
    margin: 20px 150px 0px 150px;
    background-color: #eeeeee;
}

.inside_border {
    width: 640px;
    height: 340px;
    margin: 25px;
    border: 5px solid black;
    text-align: center;
}

.cross_icon {
    width: 100px;
    height: 100px;
}

.obituary_name {
    font-size: 30px;
    font-weight: bold;
}
