#login_box {
  background-color: #ffffff;
  margin: auto;
}

#register_box {
  background-color: #ffffff;
  margin: auto;
}

.input_field {
  width: 500px;
  height: 20px;
  margin: auto;
}

.input_field_3_4 {
  width: 500px;
  height: 20px;
  margin: auto;
}

.input_field_1_2 {
  width: 500px;
  height: 20px;
  margin: auto;
}

.input_field_1_4 {
  width: 200px;
  height: 20px;
  margin: auto;
}

.input_field_description {
  font-size: 15px;
  padding: 3px;
  margin: auto;
}

.input_category {
  text-align: left;
  font-size: 17px;
}

.small_redirect_text {
  font-size: 14px;
  text-decoration: none;
}

.log_reg_button {
  text-align: left;
  margin: auto;
}

.error_msg {
  text-align: left;
  font-size: 12px;
  color: #ee1111;
}
