#navbar {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 58px;
    background-color: #676767;
    border-top: 1px solid #222222;
    border-bottom: 1px solid #222222;
}


.nav_button {
  background-color: #C3B091;
  height: 42px;
  text-align: center;
  line-height: 42px;
  border-radius: 10px;
}

.nav_button--right {
  float: right;
  min-width: 100px;
  margin: 8px 8px 8px 0px;
}

.nav_button--left {
  float: left;
  width: 140px;
  margin: 8px 0px 8px 8px;
}

.nav_button:hover {
  background-color: #799966;
}


.nav_button > a {
    display: block;
    text-decoration: none;
    color: #111111;
    height: 42px;
}

.nav_button > a:hover {
  color: #343434;
}

.nav_button--left > a {
    width: 140px;
}

.nav_button--right > a {
    width-min: 100px;
}

.nav_log_in_as {
    line-height: 21px;
    font-size: 12px;
    color: #000000
}

.admin_panel {
    width: 200px;
    height: 30px;
    background-color: #676767;
    margin-top: 10px;
    border: 1px solid #222222;
}

.admin_panel > a {
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    color: #dddddd;
}
